<div class="logo">
    <a href="/Admin/Home/Index" class="d-flex" style="position:relative">
        <img src="~/Content/img/logo.png">
        <h3>
            Job Board
            <span>
                Find your dream job
            </span>
        </h3>
    </a>
</div>
