.job-name:hover {
    color: #00D363;
}

.job-name {
    color: black !important;
}

.card-img {
    height: 500px
}

.jobs_conetent {
    align-items: center
}

.fa-map-marker {
    margin-right: 10px
}

.job_lists > .row {
    gap: 20px
}

.single-job {
    flex-direction: column;
}

.justify-content-around {
    flex-grow: 1
}
