@model List<JobBoardTemplate.Data.Blog>
<ul class="pagination">
    <li class="page-item">
        <a href="#" class="page-link" aria-label="Previous">
            <i class="ti-angle-left"></i>
        </a>
    </li>
    @for (int page = 1; page <= Math.Ceiling(Model.Count() / 4m); page++)
    {
        <li class="page-item">@Html.ActionLink(page.ToString(), "Blog", "Home", routeValues: new { Id = page }, htmlAttributes: new { @class = "page-link" })</li>
    }
    <li class="page-item">
        <a href="#" class="page-link" aria-label="Next">
            <i class="ti-angle-right"></i>
        </a>
    </li>
</ul>
